<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Processing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Image Processing</h1>
        <form id="imageForm">
            <div class="form-group">
                <label for="modelName">Device Model Name:</label>
                <input type="text" id="modelName" name="modelName" required>
            </div>
            <div class="form-group">
                <label for="opticalCondition">Optical Condition:</label>
                <input type="text" id="opticalCondition" name="opticalCondition" required>
            </div>
            <input type="file" accept="image/*" capture="camera" id="imageInput" name="image" style="display:none;">
            <img id="capturedImage" alt="Captured Image" style="display:none; max-width: 80%;">
            <button type="button" onclick="captureImage()" id="captureButton">
                <img src="{{ url_for('static', filename='camera.png') }}" alt="Capture Image" style="max-width: 80%; height: auto;">
            </button>
            <button type="button" onclick="processImage()" style="display:none;" id="processButton">Process Image</button>
        </form>
        <!-- Add this inside the result div in your index.html file -->
        <h3 id="Loading" style="display: none;">Loading...</h3>
        <div id="result" style="display: none;">
            <h2>Processed Data</h2>
            <table>
                <tbody id="tableBody">
                    <!-- Table rows will be dynamically added here -->
                </tbody>
            </table>
        </div>
    </div>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
